.productCard {
    display: grid;
    grid-template-columns: clamp(12rem, 25vw, 25rem) 1fr;
    background-color: #eaeaea;
    padding: 0.5rem;
    margin: 0 0 1rem 0;

    transition-property: opacity, transform;
    transition-timing-function: ease-out;
    transition-duration: 500ms;
}

.cardImage {
    object-fit: contain;
}

.productTitle {
    text-align: center;
    margin: 0;
}

.textContainer {}

.cardButton {
    margin: 0 auto;
}

/* Mobile Rules - LM */
@media (max-width: 1025px) {
    .productCard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}